<%- include("partials/header"); -%>



<div class="container-fluid bg-light">
  <div class="row row-cols-1 row-cols-md-3 g-6">
    <%  eventPosts.forEach(function(post){ %>
    <div class="col-lg-4 col-md-6">
      <div class="card customer-post">
        <div class="card-body">
          <h5 class="card-title"><%=post.title%></h5>
          <p class="card-text">
            <%=post.content.substring(0, 100) + " ..."%>
          </p>
          <a href="/posts/event/<%=post.title%>" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>


<%- include("partials/footer"); -%>
